<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Argus</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbar-collapse" aria-controls="navbar-collapse"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <div id="tabs" class="navbar-nav">
        <!-- Complete with Tabs through JS -->
      </div>
    </div>

    <div class="dropdown text-end">
      <a href="#" class="d-block text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../assets/user.png" alt="userpic" width="32" height="32" class="rounded-circle">
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><p id="userNameNavBar" class="dropdown-item fw-bold"></p></li>
        <li><hr class="dropdown-divider"></li>
        <li><a id="logOutLink" class="dropdown-item" href="../../index.html">Sign out</a></li>
      </ul>
    </div>
  </div>
</nav>