#map {
    height: 580px;
}

.card-header {
    font-size: large;
    font-weight: bold;
}

.daterange {
    display: inline-block;
    cursor: pointer;
}

#sightings-list {
    max-height: 555px;
    overflow-y: auto;
}

.sighting-time {
    float: right;
}