#filters {
    background: white;
}

#submit-filter {
    float: right;
}

#map {
    height: 600px;
}

.card-header {
    font-size: large;
    font-weight: bold;
}

.daterange {
    display: inline-block;
    cursor: pointer;
}

.sighting-time {
    float: right;
}