<div class="list-group-item">
  <div class="row">
    <div class="person-id col-md-0" hidden="True"></div>
    <div class="person-name col-md-2"></div>
    <div class="person-role col-md-2"></div>
    <div class="person-created_at col-md-2"></div>
    <div class="person-last_seen col-md-2"></div>
    <div class="person-photos col-md-1"></div>
    <div class="person-add_photo col-md-1"></div>
    <div class="person-save col-md-1"></div>
    <div class="person-delete col-md-1"></div>
  </div>
</div>
